.add-item-section {
  padding-bottom: 1rem;
}

.add-item-label {
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: .07rem;
  text-transform: uppercase;
}

.add-item-text {
  width: 100%;
  margin-bottom: .5rem;
  padding: .5rem;
  border: $petrol-light solid 1px;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.add-item-text:focus {
  border: $petrol-dark solid 2px;
  outline: none;
}

::placeholder {
  color: $highlight;
}

.button {
  width: 100%;
  padding: .75rem;
  border-radius: 0.25rem;
  background: $petrol-light;
  color: white;
  font-size: .75rem;
  letter-spacing: .07rem;
  text-transform: uppercase;
}

.button:hover {
  background: $petrol-dark;
}

.button:focus {
  border: $petrol-dark solid 2px;
  outline: none;
  background: $petrol-dark;
}

